<!DOCTYPE html>
<html lang="it" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Dettaglio prodotto: {{object.name}}</title>
    </head>

    <body>
        <p> Prodotto:  {{object.name}}</p>
        <p> Produttore: {{object.manifacturer}}</p>
        <p> Quantità: {{object.quantity}}</p>
        <p> Quantità: {{object.quantity}}</p>
        <p> Quantità: {{object.quantity}}</p>
        <p> Quantità: {{object.quantity}}</p>
        
        <img src="{{object.photo.url}}" alt="">
    </body>
</html>